@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

:root {
    font-family: 'Inter';
}

body {
    background-color: rgb(123, 5, 130);
}

h1 {
    font-size: 4rem;
    font-weight: 700;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
}